doctype html
html
  head
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet",, href="/css/style.css")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/products') Supply Store
        ul.nav.navbar-nav
          li
            a(href='/products') Products
          li
            a(href='/vendors') Vendors
    .container
      block body
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
