.row > * {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.row > :first-child{
  margin-left: 15%;
}
.row{
  clear:both;
}
.form-group > *{
  margin-bottom: 20px;
}

.container{
  width: 970px;
}

.quantity-form {
  display: inline-block;
}
